$color-blue: #0095eb;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "vazir", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1230px) {
  html {
    font-size: 50%;
  }
}
