.filter {
  width: 100%;

  &__container {
    width: 100%;
    margin: 2rem auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;

    &-item {
      font-size: 2rem;
      padding: 5px 15px;
      background-color: $color-blue;
      border-radius: 20px;
      color: #fff;
      border: 1px solid $color-blue;
      margin: 0 1rem;
      cursor: pointer;
      transition: color 0.2s ease, background-color 0.2s ease;

      &:hover {
        color: $color-blue;
        background-color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .filter__list-item {
    font-size: 1.7rem;
  }
}
