.nav {
  display: flex;
  width: 100%;
  background-color: #fff;

  &__logo {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: auto;
    margin-left: 5%;
    padding: 2rem;
    cursor: pointer;
  }

  &__item:first-child {
    margin-right: 5%;
  }

  &__item {
    padding: 2rem 3rem;
    transition: background-color 0.2s ease;
    position: relative;

    a {
      font-size: 1.5rem;
      color: inherit;
      transition: color 0.2s ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 10%;
      right: 0;
      height: 80%;
      width: 4px;
      background-color: $color-blue;
      transition: box-shadow 0.4s ease;
    }

    &:hover a {
      color: $color-blue;
    }

    &:hover::after {
      box-shadow: $color-blue -5px 0px 10px 0px;
    }
  }
}
